/* 
Fonts:
Roboto: font-family: 'Roboto', sans-serif;
Noto Sans Mono: font-family: 'Noto Sans Mono', monospace;
Andada Pro: font-family: 'Andada Pro', serif;
Colors:
brownish:   #715846
semi-brown: #887969
orange:     #e09721
gray:       #9d9b9a
*/

body,
html {
  height: 100%;
}

.cover {
  background-image: url("/images/cover.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 70%;
  margin-top: 20px;
}

.content {
  font-family: "Roboto", sans-serif;
  color: #715846;
  text-align: justify;
}

h1,
.roles,
h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #715846;
}

.team-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}

.team-content-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

img {
  height: 100px;
  width: 100px;
}

footer {
  background-color: #eee;
  border: 2px solid #e09721;
  margin-top: 200px;
  height: 655px;
}

footer > div,
footer > .divider {
  display: inline-block;
  vertical-align: middle;
}

footer > div {
  text-align: left;
  width: 50%;
  height: 655px;
}

footer > .divider {
  font-style: normal;
  height: 655px;
  -webkit-box-shadow: 1px 2px 1px #ccc;
  box-shadow: 1px 2px 1px #ccc;
}

.reachus {
  width: 55%;
  float: left;
  padding-right: 150px;
  padding-left: 100px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: white;
  color: #e09721;
}

.emailus {
  padding-right: 100px;
  padding-left: 120px;
  width: 45%;
  color: white;
  background-color: #e09721;
}

.message {
  height: 60px;
}

input {
  height: 30px;
  width: 300px;
  border: 1px solid #e09721;
  border-radius: 5px;
  margin-left: 40px;
}

.credits {
  font-family: "Noto Sans Mono", monospace;
  margin-top: 5px;
  font-size: 12px;
  margin-bottom: 0;
}

input:focus {
  outline: none;
}

.instruction {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 40px;
}

.title {
  font-family: "Andada Pro", serif;
  font-size: 30px;
  margin-top: 30px;
}

button {
  font-family: "Noto Sans Mono", monospace;
  margin-left: 40px;
  background-color: white;
  color: #e09721;
  padding: 3px 10px 3px 10px;
  margin-bottom: 16px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
}

button:hover {
  background-color: rgb(224, 206, 206);
  color: #e09721;
  cursor: pointer;
}

i.bx {
  font-size: 25px;
}

.first {
  background-color: pink;
}

.info {
  margin-top: 60px;
  margin-left: 50px;
}
