/* 
Fonts:
Roboto: font-family: 'Roboto', sans-serif;
Noto Sans Mono: font-family: 'Noto Sans Mono', monospace;
Andada Pro: font-family: 'Andada Pro', serif;
Colors:
brownish:   #715846
semi-brown: #887969
orange:     #e09721
gray:       #9d9b9a
*/
/* NAVIGATION */
.top-nav {
  padding: 25px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo .header {
  color: #715846;
  font-family: "Noto Sans Mono", monospace;
  font-size: 35px;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  color: #887969;
  font-family: "Roboto", sans-serif;
  padding: 15px 15px 3px 15px;
  font-size: 18px;
  font-weight: 500;
}
.nav-item .active {
  border-bottom: #ea215a 0.125em solid;
}
.navbutt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-but {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-but a {
  text-decoration: none;
  margin-right: 15px;
  background-color: #e09721;
  color: #fff;
  border-radius: 3px;
  padding: 3px 10px 3px 10px;
  margin-bottom: 16px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.search-cont button {
  color: #9d9b9a;
  vertical-align: middle;
  margin-top: -0.125em;
  border: none;
  background: none;
}
.search-cont input {
  color: #9d9b9a;
  border: none;
  background: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.bx {
  font-size: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: #887969;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.dropdown-content {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown-content a:hover {
  background-color: rgb(248, 248, 248);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* IMAGE HEADER AND SLIDER */
.carousel-inner .carousel-item {
  max-height: 90vh;
}
.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 70vh;
  width: 100vw;
}
.carousel-img .bx {
  color: #000;
  font-size: 150px;
}
.carousel-item .carousel-caption h5 {
  color: rgb(177, 177, 177);
  text-decoration: none;
}
.carousel-item .carousel-caption h5 a {
  color: #88d9ff;
  text-decoration: none;
}
/* POPULAR SECTION */
.popular .header {
  font-weight: 900;
  color: #715846;
  margin-top: 5%;
  font-family: "Andada Pro", serif;
  text-align: center;
  word-spacing: 10px;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cards {
  border-radius: 15px;
  margin: 15px;
  position: relative;
  width: 450px;
  height: 600px;
}

.cards img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  border-radius: 15px;
  display: block;
  width: 100%;
}

.cards p {
  color: #fff;
  margin-left: 15px;
  margin-top: -25px;
  font-size: 12px;
}
.cards p a {
  color: rgb(128, 229, 255);
}
.overlay {
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 58, 58, 0.781);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.overlay:hover {
  cursor: pointer;
  opacity: 1;
}
.overlay .title h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: "Andada Pro", serif;
}
.overlay .content {
  margin: 20px 50px 0 50px;
}
.overlay .content h4 {
  font-weight: 100;
  font-size: 25px;
  font-family: "Andada Pro", serif;
  font-style: italic;
}
@media only screen and (max-width: 1920px) {
  .card-wrapper {
    width: 100%;
  }
  .overlay .content h4 .bx {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1500px) {
  .cards {
    width: 30%;
  }
  .cards img {
    height: 80%;
  }
  .overlay {
    height: 80%;
  }
  .overlay .title h1 {
    font-size: 2.5em;
  }
  .overlay .content h4 {
    font-size: 20px;
  }
  .overlay .content h4 .bx {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1000px) {
  .cards {
    width: 27%;
  }
  .cards img {
    height: 60%;
  }
  .overlay {
    height: 60%;
  }
  .overlay .title h1 {
    font-size: 1.5em;
  }
  .overlay .content h4 {
    font-size: 10px;
  }
  .overlay .content h4 .bx {
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .cards {
    width: 25%;
  }
  .cards img {
    height: 40%;
  }
  .overlay {
    height: 40%;
  }
  .overlay .content {
    margin: 5px 10px 0 10px;
  }
  .overlay .title h1 {
    font-size: 1em;
  }
  .overlay .content h4 {
    font-size: 10px;
  }
  .overlay .content h4 .bx {
    font-size: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .popular .header {
    font-size: 25px;
  }
  .cards {
    width: 95%;
    height: 50%;
    margin: 5px 0 5px 0;
  }
  .cards img {
    height: 50%;
  }
  .overlay {
    height: 100%;
  }
  .overlay .content {
    margin: 5px 20px 0 20px;
  }
  .overlay .title h1 {
    font-size: 1.2em;
  }
  .overlay .content h4 {
    font-size: 16px;
  }
  .overlay .content h4 .bx {
    font-size: 16px;
  }
}
/* LATEST POST SECTION */
.latest {
  margin: 0 auto;
  max-width: 80%;
}
.latest .header {
  font-weight: 900;
  color: #715846;
  margin-top: 5%;
  font-family: "Andada Pro", serif;
  word-spacing: 10px;
  padding-bottom: 20px;
  border-bottom: 5px solid #cecece;
}
.post-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #cecece;
}
.left {
  margin: 20px 0 20px 0;
  position: relative;
  width: 400px;
  height: 200px;
}
.left img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.left p {
  color: #fff;
  margin-left: 5px;
  margin-top: -20px;
  font-size: 12px;
}
.left p a {
  color: rgb(128, 229, 255);
}
.right {
  margin: 20px 0 20px 30px;
}
.right .date {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.right .post-title {
  color: #715846;
  margin-top: 10px;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 800;
  font-size: 30px;
}
.right .post-cont {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
}
.right .post-link {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.right .post-link a {
  color: rgb(216, 155, 22);
  text-decoration: none;
}
/* REVIEWS SECTION */
.review {
  margin-bottom: 5%;
  overflow: hidden;
}
.review .header {
  color: #715846;
  margin: 5% 0 5% 0;
  font-family: "Andada Pro", serif;
  word-spacing: 10px;
  font-weight: 900;
  text-align: center;
}
.review-wrapper .bx {
  color: rgb(216, 155, 22);
  font-size: 90px;
}
.row .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-box {
  position: relative;
  max-width: 50%;
}
.review-cont {
  color: #715846;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  min-height: 8vh;
}
.review-link {
  color: #fff;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 15px;
}
.review-link a {
  color: #fff;
  text-decoration: none;
  background: rgb(216, 155, 22);
  padding: 10px 30px 10px 30px;
}
/* FOOTER SECTION */
footer {
  padding: 15px 0 15px 0;
  background: rgb(216, 155, 22);
  color: #fff;
}
footer .soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .soc-link a {
  padding: 0 5px 0 5px;
}
footer p {
  font-family: "Noto Sans Mono", monospace;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}
