/* 
Fonts:
Roboto: font-family: 'Roboto', sans-serif;
Noto Sans Mono: font-family: 'Noto Sans Mono', monospace;
Andada Pro: font-family: 'Andada Pro', serif;
Colors:
brownish:   #715846
semi-brown: #887969
orange:     #e09721
gray:       #9d9b9a
*/
/* NAVIGATION */
.top-nav {
  padding: 25px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo .header {
  color: #e09721;
  font-family: "Noto Sans Mono", monospace;
  font-size: 35px;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  color: #887969;
  font-family: "Roboto", sans-serif;
  padding: 15px 15px 3px 15px;
  font-size: 18px;
  font-weight: 500;
}
.nav-item .active {
  border-bottom: #ea215a 0.125em solid;
}
.navbutt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-but {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-but a:hover {
  background: #333;
}
.user-but a {
  text-decoration: none;
  margin-right: 15px;
  background-color: #e09721;
  color: #fff;
  border-radius: 3px;
  padding: 3px 10px 3px 10px;
  margin-bottom: 16px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.search-cont button {
  color: #9d9b9a;
  vertical-align: middle;
  margin-top: -0.125em;
  border: none;
  background: none;
}
.search-cont input {
  color: #9d9b9a;
  border: none;
  background: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.bx {
  font-size: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: #887969;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.dropdown-content {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown-content a:hover {
  background-color: rgb(248, 248, 248);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* IMAGE HEADER AND SLIDER */
.carousel-inner .carousel-item {
  max-height: 90vh;
}
.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 70vh;
  width: 100vw;
}
.carousel-img .bx {
  color: #000;
  font-size: 150px;
}
.carousel-item .carousel-caption h5 {
  color: rgb(177, 177, 177);
  text-decoration: none;
}
.carousel-item .carousel-caption h5 a {
  color: #88d9ff;
  text-decoration: none;
}
/* POPULAR SECTION */
.popular .header {
  font-weight: 900;
  color: #715846;
  margin-top: 5%;
  font-family: "Andada Pro", serif;
  text-align: center;
  word-spacing: 10px;
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cards {
  border-radius: 15px;
  margin: 15px;
  position: relative;
  width: 450px;
  height: 600px;
}

.cards img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  border-radius: 15px;
  display: block;
  width: 100%;
}

.cards p {
  color: #fff;
  margin-left: 15px;
  margin-top: -25px;
  font-size: 12px;
}
.cards p a {
  color: rgb(128, 229, 255);
}
.overlay {
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 58, 58, 0.781);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.overlay:hover {
  cursor: pointer;
  opacity: 1;
}
.overlay .title h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: "Andada Pro", serif;
}
.overlay .content {
  margin: 20px 50px 0 50px;
}
.overlay .content h4 {
  font-weight: 100;
  font-size: 25px;
  font-family: "Andada Pro", serif;
  font-style: italic;
}
/* LATEST POST SECTION */
.latest {
  margin: 0 auto;
  max-width: 80%;
}
.latest .header {
  font-weight: 900;
  color: #715846;
  margin-top: 5%;
  font-family: "Andada Pro", serif;
  word-spacing: 10px;
  padding-bottom: 20px;
  border-bottom: 5px solid #cecece;
}
.post-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #cecece;
}
.left {
  margin: 20px 0 20px 0;
  position: relative;
  width: 400px;
  height: 200px;
}
.left img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.left p {
  color: #fff;
  margin-left: 5px;
  margin-top: -20px;
  font-size: 12px;
}
.left p a {
  color: rgb(128, 229, 255);
}
.right {
  margin: 20px 0 20px 30px;
}
.right .date {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.right .post-title {
  color: #715846;
  margin-top: 10px;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 800;
  font-size: 30px;
}
.right .post-cont {
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  min-width: 40vw;
}
.right .post-link {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.right .post-link a {
  color: rgb(216, 155, 22);
  text-decoration: none;
}
/* REVIEWS SECTION */
.review {
  margin-bottom: 5%;
  overflow: hidden;
}
.review .header {
  color: #715846;
  margin: 5% 0 5% 0;
  font-family: "Andada Pro", serif;
  word-spacing: 10px;
  font-weight: 900;
  text-align: center;
}
.review-wrapper .bx {
  color: rgb(216, 155, 22);
  font-size: 90px;
}
.row .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-box {
  position: relative;
  max-width: 50%;
}
.review-cont {
  color: #715846;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  min-height: 8vh;
}
.review-link {
  color: #fff;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 15px;
}
.review-link a {
  color: #fff;
  text-decoration: none;
  background: rgb(216, 155, 22);
  padding: 10px 30px 10px 30px;
}
/* FOOTER SECTION */
footer {
  margin-top: 5%;
  padding: 15px 0 15px 0;
  background: rgb(216, 155, 22);
  color: #fff;
}
footer .soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .soc-link a {
  padding: 0 5px 0 5px;
}
footer p {
  font-family: "Noto Sans Mono", monospace;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}
/* Modal */
.modal-dialog {
  max-width: 900px; /* New width for default modal */
}
.btnModal {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.btnModal:hover {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.btnModalupl {
  background-color: rgb(216, 155, 22);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 3px 5px 3px 5px;
  font: inherit;
  cursor: pointer;
  outline: none;
}
.topupload {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageupload {
  text-align: center;
}
.middleupload {
  position: relative;
  margin: 32px;
}
.middleupload input {
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px;
}
.middleupload label {
  position: absolute;
  background-color: transparent;
  top: -12px;
  left: 16px;
  bottom: auto;
  cursor: text;
  padding: 0 8px 0 8px;
  background-color: white;
}
.categoryupload {
  position: relative;
  display: block;
  border: 1px solid black;
  border-radius: 8px;
}
.categoryupload p {
  position: absolute;
  background-color: transparent;
  top: -12px;
  left: 16px;
  bottom: auto;
  cursor: text;
  background-color: white;
  padding: 0 8px 0 8px;
}
.categoryupload ol {
  margin-top: 23px;
  margin-right: 32px;
  list-style: none;
  text-align: left;
}
.categoryupload li label {
  margin-left: 7px;
}
.bot {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}
.botupload {
  position: relative;
  margin: 1%;
}
.botupload textarea {
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px;
}
.botupload label {
  font-size: 18px;
  position: absolute;
  background-color: transparent;
  top: -12px;
  left: 16px;
  bottom: auto;
  cursor: text;
  background-color: white;
  padding: 0 8px 0 8px;
}
.menu-overlay {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.menu-small {
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
  left: 0;
  background: #e09721;
  transform: translateX(-100%);
  transition: 0.5s;
}
.menu-small .bot {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.menu-small .bot li {
  font-weight: bolder;
}
.menu-small ul {
  text-align: center;
}
.menu-small li {
  font-size: 2.4rem;
  list-style: none;
}
.menu-small li a {
  text-decoration: none;
  color: #fff;
}
.menu-small.active {
  left: 0;
  top: 85px;
  transform: translateX(0);
}
.toggleIcon {
  display: none;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 999;
}
.drop-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  left: 0;
  background: #fff;
  transform: translateX(-100%);
  transition: 0.5s;
}
.drop-content a {
  color: #e09721 !important;
}
.drop-content .top {
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
}
.drop-content .top .header {
  background: #e09721;
  color: #fff;
  padding: 25px 0 25px 0;
  font-weight: bolder;
}
.drop-content .top .header .bx {
  font-size: 1em;
}
.drop-content.active {
  transform: translateX(0);
}
@media only screen and (max-width: 1920px) {
  .card-wrapper {
    width: 100%;
  }
  .overlay .content h4 .bx {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1200px) {
  .cards {
    width: 30%;
  }
  .cards img {
    height: 80%;
  }
  .overlay {
    height: 80%;
  }
  .overlay .title h1 {
    font-size: 2.5em;
  }
  .overlay .content h4 {
    font-size: 20px;
  }
  .overlay .content h4 .bx {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .cards {
    width: 27%;
  }
  .cards img {
    height: 60%;
  }
  .overlay {
    height: 60%;
  }
  .overlay .title h1 {
    font-size: 1.5em;
  }
  .overlay .content h4 {
    font-size: 10px;
  }
  .overlay .content h4 .bx {
    font-size: 15px;
  }
}
@media only screen and (max-width: 960px) {
  .cards {
    width: 27%;
  }
  .cards img {
    height: 60%;
  }
  .overlay {
    height: 60%;
  }
  .overlay .title h1 {
    font-size: 1.5em;
  }
  .overlay .content h4 {
    font-size: 10px;
  }
  .overlay .content h4 .bx {
    font-size: 15px;
  }
  .right .post-cont {
    min-width: 20vw;
  }
  .carousel-img {
    overflow: hidden;
  }
  .menu-overlay {
    display: none;
  }
  .toggleIcon {
    display: inline-block;
  }
  .toggleIcon .bx {
    cursor: pointer;
    font-size: 1.9em;
    color: #e09721;
  }
  .toggleIcon.active .bx {
    color: #e09721;
    background: #fff;
  }
}
@media only screen and (max-width: 760px) {
  .cards {
    width: 75%;
    height: 30%;
    margin: 5px 0 5px 0;
  }
  .cards img {
    height: 30%;
  }
  .overlay {
    height: 100%;
  }
  .overlay .content {
    margin: 5px 20px 0 20px;
  }
  .overlay .title h1 {
    font-size: 1.2em;
  }
  .overlay .content h4 {
    font-size: 16px;
  }
  .overlay .content h4 .bx {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .popular .header {
    font-size: 25px;
  }
  .cards {
    width: 95%;
    height: 50%;
    margin: 5px 0 5px 0;
  }
  .cards img {
    height: 50%;
  }
  .overlay {
    height: 100%;
  }
  .overlay .content {
    margin: 5px 20px 0 20px;
  }
  .overlay .title h1 {
    font-size: 1.2em;
  }
  .overlay .content h4 {
    font-size: 16px;
  }
  .overlay .content h4 .bx {
    font-size: 16px;
  }
}
